@using MarsBurgerV1.Models
@model MarsBurgerV1.ViewModel.UserVM
@{ 
    ViewBag.Title = "Details";
}
<div>
    <h3>User Details</h3>
    <hr />
    <div class="form-border">
        <fieldset disabled>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "contol-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "contol-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "contol-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "contol-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.BirthDate, htmlAttributes: new { @class = "contol-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.BirthDate, "{0: dd MM yyyy}", new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px; padding-top:5px;">
                <div class="col-md-2">
                    @{
                        ApplicationDbContext db = ApplicationDbContext.Create();
                        var acctTypes = (from u in db.accountTypes select u).Where(s => s.Id.Equals(Model.AccountTypesId)).ToList();
                        if (acctTypes != null)
                        {
                            @Html.Label("Account Type", htmlAttributes: new { @class = "contol-label" })
                        }
                    }
                </div>
                <div class="col-md-10">
                    @{
                        if (acctTypes != null)
                        {
                            @Html.Label(acctTypes[0].Name, htmlAttributes: new { @class = "contol-label" })
                        }
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div>
    @Html.Partial("_Back2ListButtonPartial")
    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Edit User</span>
    </a>
</div>
