@model MarsBurgerV1.Models.Meal
@using System.Text
@using MarsBurgerV1.Utility
@{
    ViewBag.Title = "Details";
    var cname = "interest";
    if (Request.Cookies[cname] != null)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append(Request.Cookies[cname].Value.ToString());
        sb.Append(", "+Model.Id);
        Request.Cookies[cname].Expires = DateTime.Now.AddDays(-1);
        Response.Cookies[cname].Value = sb.ToString();
    }
    else
    {
        Response.Cookies[cname].Value = Model.Id+"," ;
    }
}

<div>
    <hr />
    <h4>Meal Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Preview")
        </dt>
        <dd>
            <img src="@Url.Content(Model.ImageUrl)" alt="IMAGES" height="500" width="500" />
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole(SD.AdminUserRole))
    {
        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Edit Meal</span>
        </a>
        @Html.Partial("_Back2ListButtonPartial")
    }
    else
    {
        <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Index", "Home")">
            <span class="glyphicon glyphicon-home"></span>
            <span>Back</span>
        </a>
    }
</p>
