@model MarsBurgerV1.Models.Branches
@using MarsBurgerV1.Models
@using MarsBurgerV1.Utility
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Branches</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("Manager Name")
        </dt>
        @using (var db = ApplicationDbContext.Create())
        {
            <dd>
                @Html.DisplayFor(model => (db.Users.Find(model.UserId).FirstName))
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.AccessibleBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessibleBranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hasParking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasParking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kosher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kosher)
        </dd>
    </dl>
</div>
@Html.Partial("_Back2ListButtonPartial")
@if (User.IsInRole(SD.AdminUserRole))
{
    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Edit Branch</span>
    </a>
}
