@model IEnumerable<MarsBurgerV1.ViewModel.ItemVM>

@{
    ViewBag.Title = "Create";
    var currentType = Model.First().ItemType;
    var lst = Model.ToList();
}
<style>
    tr td {
        vertical-align: middle;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@using (Html.BeginForm("Create", "Orders", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h3>Order:</h3>
    <table class="table table-condensed table-hover">
        <tr calss="table-header">
            <th>
                @Html.DisplayName("Preview")
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th></th>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            if (!currentType.Equals(Model.ElementAt(i).ItemType))
            {
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            }
            <tr>
                <td>
                    <div class="r">
                        @if (Model.ElementAt(i).ImageURL != null)
                        {
                            <img src="@Url.Content(Model.ElementAt(i).ImageURL)" alt="IMAGES" height="100" width="100" />
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(m => Model.ElementAt(i).Name)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.ElementAt(i).Price)
                </td>
                <td>
                    <a type="button" class="btn btn-danger btn-xs" href="#">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    @Html.EditorFor(l => lst[i].Quantity, new { htmlattribute = new { @class = "form-control" } })
                    <a type="button" class="btn btn-success btn-xs" id="plus" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                @{
                    currentType = Model.ElementAt(i).ItemType;
                }
            </tr>
        }

    </table>



    <div>

    </div>


}
