@model IEnumerable<MarsBurgerV1.ViewModel.OrderVM>
@using MarsBurgerV1.Utility
@using MarsBurgerV1.Models
@using MarsBurgerV1.ViewModel
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole(SD.AdminUserRole))
{<h2>Manage Orders: </h2> }
else
{<h2>Your Orders: </h2>}
<br />
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(m => m.OrderID)
        </th>
        @if (User.IsInRole(SD.AdminUserRole))
        {
            <th>
                @Html.DisplayNameFor(m => m.UserID)
            </th>
        }
        <th>
            @Html.DisplayNameFor(m => m.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Status)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastUpdate)
        </th>
        <th></th>
        
    </tr>
    @foreach (var i in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(m => i.OrderID)
        </td>
        @if (User.IsInRole(SD.AdminUserRole))
        {
            <td>
                @Html.DisplayFor(m => i.UserName)
            </td>
        }
        <td>
            @Html.DisplayFor(m => i.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(m => i.Status)
        </td>
        <td>
            @Html.DisplayFor(m => i.LastUpdate)
        </td>
        <td>
            @Html.Partial("_OrderTableButtonPartial", new OrderButtonPartial { OrderId = i.OrderID })
        </td>
    </tr>
    }
</table>
